.home-page {
  height: 100vh;
  background-image: url("../../public/img/Pattern.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  .title-container{
      margin-top: 5%;
  }

  .container {
    position: relative;
    .data-analystic-container {
        width: 50%;
     position:absolute;
     top:145%;
     left:26% ;
    }
  }
}
