.pricing-page{
    .card{
        text-align: left;
        width: 350px;
        height: 350px;border: none;
        margin-top: 3rem;
        hr{
            height: 3px;
        }
    }
}

.resources-page{
    background-color: #FFEDB6;
    .search-container{
        position: relative;
        width: max-content;
        height: max-content;
        input{
            padding: 1rem 2rem 1rem 3rem;
            width: 553px;
            height: 64px;
            border-radius: 0.5rem;
            border:none;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            &:focus{
                outline: none !important;
            }
        }
        .icon{
            position: absolute;
            left: 5px;
            top: 17px;
        }
    }

    .content{
        background-color: #fff;
        border-radius: 3rem 3rem 0 0 ;
        .cards{
           display: flex;
           justify-content: center;
            .items{
                width: 1182px;
                height: auto;
                padding: 2rem;
                background-color: #DCF0FF;
                border-radius: 1rem;
            }
        }
    }
}